/* overrides --font-display to make it smaller */
/* Path: source/_includes/css/overrides.css */

:root {
    --font-display: var(--font-bold) clamp(1.3rem, 3vw, 2.2rem)/1 var(--font-family-display);
}


/* 点击效果 */
details {
    border: solid 1px var(--color-line);
    border-radius: 0.25em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .3em;
    padding-bottom: .1em;
}

details[open] p {
    padding-left: 1em;
}

details[open] summary::before {
    transform: rotate(90deg);
}

summary {
    --marker-image: none;
    outline: none;

    padding-left: 0.3em;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* 移除默认的outline */

    &::before {
        content: '▶';
        display: inline-block;
        width: 1em;
        font-size: 1em;
        margin-right: 1em;
        transform: rotate(0deg);
        /* 初始状态为闭合 */
        transition: transform 0.2s ease;
    }
}

.site33-tabs {
    display: block;
}

input[type="radio"] {
    display: none;
}

.site33-tabs label {
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    /* Change from block to inline-block */
    margin-right: 2px;
    /* Adjust margin for a better layout */
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.site33-tabs label:hover {
    background: #bbb;
}

.site33-tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    /* Hide top border to blend with tabs */
    border-radius: 0 0 5px 5px;
    background: #fff;
}

#site33-tab1:checked~#site33-content1,
#site33-tab2:checked~#site33-content2,
#site33-tab3:checked~#site33-content3 {
    display: block;
}

#site33-tab1:checked+label,
#site33-tab2:checked+label,
#site33-tab3:checked+label {
    background: #fff;
    border-bottom: none;
    /* Hide bottom border to blend with content */
}